@font-face {  
    font-family: kruti dev ;  
    src: url( '../hindi/k010.TTF' ) format("truetype");  
}

body{
	color: #ffffff;
}
input{
	color: #000090;
	font-weight: bold;
}
.disabledinput{
	background:#900000; 
	color: #ffff00;
}